.container {
	width: var(--size-screen-width);
	min-height: 100vh;
	padding: var(--size-6);
	display: grid;
	justify-items: center;
	align-items: center;

	&__button {
		width: 180px;
		height: auto;
	}
}
